h1 {
    cor :  rgb ( 34 ,  31 ,  31 );
    alinhamento de texto : centro;
    tamanho da fonte :  80 px ;
    família da fonte : Arial;
}

corpo {

   tamanho da fonte :  30 px ;
   família da fonte : verdana;
   cor de fundo :  rgba ( 240 ,  181 ,  94 ,  0,733 );
}

# roupas {
    largura :  100 % ;
    
}

p {
    alinhamento de texto : esquerda;
}

# grátis {
    largura :  100 % ;


}

cabeçalho {
    plano de fundo :  #BBBBB ;
    preenchimento :  20 px  0 ;
}

. caixa {
    largura :  940 px ;
    posição : relativa;
    margem :  0 automático;
}

nav { posição : absoluto;
    superior :  110 px ;
    direita :  0 ;
}

navegação  li {
    exibição : em linha;
    margem :  0  0  0  15 px ;

}

navegar  em {
    text-transform : letras maiúsculas;
    cor :  # 000000 ;
    peso da fonte : negrito;
    tamanho da fonte :  22 px ;
    decoração de texto : nenhum;
}
