h1{
    color: rgb(10, 226, 255);
    text-align: left;
    font-size: 50px;
    font-family: verdana;
}

body{

   font-size: 10px;
   font-family: verdana;
   background-color: rgb(0, 0, 0);
}

TWITWI {
    width: 1000px;
    height: 5000px;

    
}

p{ 
    text-align: left;
    color: aliceblue;
   
    
}

#gratis{
    width: 100%;


}



.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;


}

nav a{ 
    text-transform: uppercase;
    color: #ff2323;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
} 

li{
    color: aliceblue;
}


main{  
   
    text-align: left 40px;
    font-weight: bold;
   padding: 25px 50px;
    
    
    

}









